/* Dark Mode (default) */
:root {
    --background: #1c1820;
    --foreground: #deddec;
    --foreground-subtitle: #d8ba92;
    --card: #433e4e;
    --card-border: #79747f;
    --accent: #efb34f;
}

/* Light Mode */
:root[data-theme="light"] {
    
}

@font-face {
  font-family: pixelFont; /* set name */
  src: url(PixgamerRegular-OVD6A.ttf); /* url of the font */
}

/* main CSS elements */
html {
    background: var(--background);
    color: var(--foreground);
    font-family: pixelFont; /* use font */
    font-size: 24px;

    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}

a {
    color: var(--accent);
}

button {
    color: var(--foreground);
    background: var(--card);
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 24px 100px;
}

/* Hero */
.hero {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 24px 60px;
}

.hero h1 {
    font-size: 4rem;
    margin: 0;
    text-shadow: 8px 8px 8px #000, 5px 5px 0px #000;
}

.hero p {
    font-size: 1.25rem;
    color: var(--foreground-subtitle);
    text-shadow: 4px 4px 4px #000, 3px 3px 0px #000;
}

/* Project list area */
.projects-header {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.project-card {
    overflow: hidden;
    border: 1px solid var(--card-border);
    /* border-radius: 12px; */
    background: var(--card);
    backdrop-filter: blur(4px);
    text-decoration: none;
    color: inherit;
    transition:
        transform 180ms ease,
        border-color 180ms ease,
        box-shadow 180ms ease;
}

.project-card:hover {
    transform: translateY(-2px) scale(1.01);
    border-color: var(--accent);
    box-shadow: 0 18px 30px rgba(0, 0, 0, 0.3);
}

.project-image {
    aspect-ratio: 16 / 9;
    background: #222;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-content {
    padding: 20px;
}

.project-content h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.project-content p {
    color: #aaa;
    line-height: 1.6;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 20px 0;
}

.project-tags span {
    padding: 5px 10px;
    border-radius: 100px;
    background: #292929;
    font-size: 0.8rem;
}

.project-content small {
    color: #777;
}

@media (max-width: 700px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 3rem;
    }
}

.project-page {
    /* border: 1px solid rgba(22, 110, 226, 0.2); */
    /* border-radius: 12px; */
    background: rgba(2, 0, 12, 0.7);
    /* backdrop-filter: blur(4px); */
    text-decoration: none;
    color: inherit;
    transition:
        transform 180ms ease,
        border-color 180ms ease,
        box-shadow 180ms ease;
}

